/**
 * @file
 * Visual styles for nodes.
 */

 .node--unpublished {
    background-color: #fff4f4;
  }
  
  /*
       FILE ARCHIVED ON 09:37:36 Dec 03, 2021 AND RETRIEVED FROM THE
       INTERNET ARCHIVE ON 11:29:42 Nov 05, 2024.
       JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.
  
       ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
       SECTION 108(a)(3)).
  */
  /*
  playback timings (ms):
    captures_list: 0.984
    exclusion.robots: 0.085
    exclusion.robots.policy: 0.044
    esindex: 0.016
    cdx.remote: 31.526
    LoadShardBlock: 158.415 (3)
    PetaboxLoader3.datanode: 133.034 (4)
    PetaboxLoader3.resolve: 149.505 (2)
    load_resource: 191.088
  */
  