/**
 * @file
 * Fieldgroup border reset.
 */

 .fieldgroup {
    padding: 0;
    border-width: 0;
  }
  
  /*
       FILE ARCHIVED ON 12:40:05 Dec 02, 2021 AND RETRIEVED FROM THE
       INTERNET ARCHIVE ON 10:58:13 Nov 05, 2024.
       JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.
  
       ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
       SECTION 108(a)(3)).
  */
  /*
  playback timings (ms):
    captures_list: 0.561
    exclusion.robots: 0.025
    exclusion.robots.policy: 0.015
    esindex: 0.01
    cdx.remote: 11.825
    LoadShardBlock: 174.345 (3)
    PetaboxLoader3.datanode: 228.028 (4)
    load_resource: 158.728
  */