/**
 * @file
 * Utility classes to assist with Javascript functionality.
 */

/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
 .js .js-hide {
    display: none;
  }
  
  /**
   * For anything you want to show on page load only when JS is enabled.
   */
  .js-show {
    display: none;
  }
  .js .js-show {
    display: block;
  }
  
  /*
       FILE ARCHIVED ON 06:27:30 Dec 07, 2021 AND RETRIEVED FROM THE
       INTERNET ARCHIVE ON 11:05:21 Nov 05, 2024.
       JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.
  
       ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
       SECTION 108(a)(3)).
  */
  /*
  playback timings (ms):
    captures_list: 0.717
    exclusion.robots: 0.04
    exclusion.robots.policy: 0.029
    esindex: 0.013
    cdx.remote: 9.075
    LoadShardBlock: 214.502 (3)
    PetaboxLoader3.datanode: 145.742 (4)
    PetaboxLoader3.resolve: 137.045 (2)
    load_resource: 90.558
  */
  