/**
 * @file
 * Utility class to prevent text wrapping.
 */

 .nowrap {
    white-space: nowrap;
  }
  
  /*
       FILE ARCHIVED ON 01:36:22 Dec 06, 2021 AND RETRIEVED FROM THE
       INTERNET ARCHIVE ON 11:06:06 Nov 05, 2024.
       JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.
  
       ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
       SECTION 108(a)(3)).
  */
  /*
  playback timings (ms):
    captures_list: 0.466
    exclusion.robots: 0.021
    exclusion.robots.policy: 0.012
    esindex: 0.009
    cdx.remote: 10.48
    LoadShardBlock: 222.586 (3)
    PetaboxLoader3.resolve: 179.133 (4)
    PetaboxLoader3.datanode: 252.661 (4)
    load_resource: 222.965
  */
  