/*
 * @file
 * Contain positioned elements.
 */

 .position-container {
    position: relative;
  }
  
  /*
       FILE ARCHIVED ON 16:05:40 Dec 04, 2021 AND RETRIEVED FROM THE
       INTERNET ARCHIVE ON 11:06:41 Nov 05, 2024.
       JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.
  
       ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
       SECTION 108(a)(3)).
  */
  /*
  playback timings (ms):
    captures_list: 0.529
    exclusion.robots: 0.024
    exclusion.robots.policy: 0.015
    esindex: 0.011
    cdx.remote: 5.348
    LoadShardBlock: 100.836 (3)
    PetaboxLoader3.resolve: 104.88 (2)
    PetaboxLoader3.datanode: 79.133 (4)
    load_resource: 149.232
  */
  