/**
 * @file
 * Resizable textareas.
 */

 .resize-none {
    resize: none;
  }
  .resize-vertical {
    min-height: 2em;
    resize: vertical;
  }
  .resize-horizontal {
    max-width: 100%;
    resize: horizontal;
  }
  .resize-both {
    max-width: 100%;
    min-height: 2em;
    resize: both;
  }
  
  /*
       FILE ARCHIVED ON 07:51:50 Dec 07, 2021 AND RETRIEVED FROM THE
       INTERNET ARCHIVE ON 11:19:14 Nov 05, 2024.
       JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.
  
       ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
       SECTION 108(a)(3)).
  */
  /*
  playback timings (ms):
    captures_list: 0.677
    exclusion.robots: 0.032
    exclusion.robots.policy: 0.019
    esindex: 0.009
    cdx.remote: 5.844
    LoadShardBlock: 1776.373 (3)
    PetaboxLoader3.datanode: 1716.03 (4)
    PetaboxLoader3.resolve: 148.098 (2)
    load_resource: 92.413
  */
  